* {
    font-family: Georgia,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
    /* border: 2px solid red; */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
   
    border: 8px solid rgb(224, 158, 158);
    max-width: 230px;
    max-height: 400px;
    flex-grow: 1;
    border-radius: 10px;
    font-size: 50px;
    font-weight: bold;
}

#mainCon {
    background-color: #111720;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 20px solid #111720;
    min-width: 960px;
    min-height: 1060px;
}

#display {
    background-color: #a6b8d6;
    /* border: 15px solid rgb(74, 145, 121); */
    min-width: 100px;
    min-height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#rowCon {
    background-color: rgb(9, 34, 54);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    gap: 8px;
}

.row {
    display: flex;
    flex-grow: 1;
    /* border: 3px solid red; */
    min-width: 0px;
    gap: 8px;
    justify-content: space-between;
}